:root {
    --second-color: rgb(233, 233, 233);
    --light-color: rgb(196, 19, 32);
    --main-color: rgb(168, 17, 46);
    --text-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}